
@{
    ViewBag.Title = "Reports";


    var orderStartDate = DateTime.Now.AddDays(-6);
    var OrderBreakfastDate = DateTime.Now;
    var OrderLunchDate = DateTime.Now;
    var OrderSupperDate = DateTime.Now;
    var orderEndDate = DateTime.Now;
    var OrderPurchacseDate = DateTime.Now;
    if (Request["OrderStartDate"] != null && !string.IsNullOrWhiteSpace(Request["OrderStartDate"]))
    {
        orderStartDate = DateTime.Parse(Request["OrderStartDate"]);
    }
    if (Request["OrderEndDate"] != null && !string.IsNullOrWhiteSpace(Request["OrderEndDate"]))
    {
        orderEndDate = DateTime.Parse(Request["OrderEndDate"]);
    }

    var reqYear = DateTime.Now.Year;
    var reqMonth = DateTime.Now.Month;

    if (Request["OrderYear"] != null)
    {
        reqYear = Int32.Parse(Request["OrderYear"].ToString(CultureInfo.InvariantCulture));
    }
    if (Request["OrderMonth"] != null)
    {
        reqMonth = Int32.Parse(Request["OrderMonth"].ToString(CultureInfo.InvariantCulture));
    }

    if (Request["OrderLunchDate"] != null && !string.IsNullOrWhiteSpace(Request["OrderLunchDate"]))
    {
        OrderLunchDate = DateTime.Parse(Request["OrderLunchDate"]);
    }

    if (Request["OrderSupperDate"] != null && !string.IsNullOrWhiteSpace(Request["OrderSupperDate"]))
    {
        OrderSupperDate = DateTime.Parse(Request["OrderSupperDate"]);
    }

    if (Request["OrderBreakfastDate"] != null && !string.IsNullOrWhiteSpace(Request["OrderBreakfastDate"]))
    {
        OrderBreakfastDate = DateTime.Parse(Request["OrderBreakfastDate"]);
    }

}
<style>
    table, th, td {
        border: 0px;
        border-collapse: collapse;
        left: 50px;
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

    .left {
        padding-left: 0px;
        border-bottom: 0px solid #eee;
    }

    .right {
        border-bottom: 0px solid #eee;
    }

    #below {
    }
</style>

<!-- start: PAGE HEADER -->
@*<script src="~/assets/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ar.js"></script>*@
@*<script type="text/javascript">
        $(function () {
            debugger;
                    $('#datetimepicker1').datepicker();
                });
    </script>*@


<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Home
                </a>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
        <div class="row page-header">
            <div class="col-sm-6">
                <h1>
                    @ViewBag.Title
                </h1>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="">
    <div class="col-md-12">
        <div class="table-responsive">

            <table style="width:90%">
                <tr>
                    <th>Date Range</th>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control date-range" style="width:170px">
                            <span class="input-group-addon" style="width:10px"> <i class="fa fa-calendar"></i> </span>
                            @Html.Hidden("OrderStartDate", orderStartDate.ToString("yyyy/MM/dd"), new { id = "OrderStartDate" })
                            @Html.Hidden("OrderEndDate", orderEndDate.ToString("yyyy/MM/dd"), new { id = "OrderEndDate" })
                        </div>
                    </td>
                    <td><b>Meal Type</b></td>
                    <td>@Html.DropDownList("MealTypeId", (List<SelectListItem>)ViewBag.MealTypes, new { id = "MealTypeId", @class = "form-control", style = "width: 170px;" })</td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('MilkExport', 'Reports', { url: { OrderStartDate: $('#OrderStartDate').val(), MealTypeId: $('#MealTypeId').val() }, label: 'Monthly Export' });">
                            <i class="fa fa-file-excel-o"></i> Generate Milk Report
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Generate Fruit/Veg Monthly Report </th>
                    <td>
                        <table style="width:50%;" class="below">
                            <tr>
                                <td class="left">
                                    <select class="form-control" name="OrderMonth" id="OrderMonth" style="width:100px;" title="Order Month">
                                        @foreach (var month in (List<KeyValuePair<long, string>>)ViewBag.Month)
                                        {
                                            <option value="@month.Key"
                                                    @if (reqMonth == month.Key) { @: selected="selected"
                                                                                                                                                                                                                                                                                                                                            }>
                                                @month.Value
                                            </option>
                                        }
                                    </select>
                                </td>
                                <td class="right">
                                    <select class="form-control" name="OrderYear" id="OrderYear" style="width:90px" title="Order Year">
                                        @foreach (var year in (int[])ViewBag.Year)
                                        {
                                            <option value="@year"
                                                    @if (reqYear == year) { @: selected="selected"
                                                                                                                                                                                                                                                                                                                                                }>
                                                @year
                                            </option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('FruitVegExport', 'Reports', { url: { OrderMonth: $('#OrderMonth').val(), OrderYear: $('#OrderYear').val() }, label: 'Fruit Vegetable Monthly Export' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Generate Daily Lunch,Snack With Orders Report</th>
                    <td>
                        <div class="input-group">
                            <input type="text" id="OrderLunchDate" style="width:170px;height:36px;" />
                            <span class="input-group-addon" style="width:10px"> <i class="fa fa-calendar"></i> </span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('DailyLunchExport', 'Reports', { url: { OrderLunchDate: $('#OrderLunchDate').val() }, label: 'Daily Lunch Snack Supper Report' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>
                    <td><b>Generate Daily Lunch,Snack Without Orders Report</b></td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('DailyLunchNoOrderExport', 'Reports', { url: { OrderLunchDate: $('#OrderLunchDate').val() }, label: 'Daily Lunch No Order Report' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>
                    
                </tr>
                <tr>
                    <th>Generate Daily Supper Report</th>
                    <td>
                        <div class="input-group">
                            <input type="text" id="OrderSupperDate" style="width:170px;height:36px;" />
                            <span class="input-group-addon" style="width:10px"> <i class="fa fa-calendar"></i> </span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('DailySupperExport', 'Reports', { url: { OrderSupperDate: $('#OrderSupperDate').val() }, label: 'Daily Supper Report' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Generate Daily Breakfast With Orders Report</th>
                    <td>
                        <div class="input-group">
                            <input type="text" id="OrderBreakfastDate" style="width:170px;height:36px;" />
                            <span class="input-group-addon" style="width:10px"> <i class="fa fa-calendar"></i> </span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('DailyBreakfastExport', 'Reports', { url: { OrderBreakfastDate: $('#OrderBreakfastDate').val() }, label: 'Daily Breakfast Report' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>
                    <td><b>Generate Daily Breakfast Without Orders Report</b></td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('DailyBreakfastNoOrderExport', 'Reports', { url: { OrderBreakfastDate: $('#OrderBreakfastDate').val() }, label: 'Daily Breakfast No Order Report' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Generate Master Monthly Report</th>
                    <td>
                        <div class="input-group">
                            <input type="text" id="OrderPurchacseDate" style="width:170px;height:36px;" />
                            <span class="input-group-addon" style="width:10px"> <i class="fa fa-calendar"></i> </span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('MonthlyPurchacseExport', 'Reports', { url: { OrderPurchacseDate: $('#OrderPurchacseDate').val() }, label: 'Daily Purchacse Report' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

            </table>


            @*<table class="table table-condensed">
                    <tr>
                        <td class="col-sm-2"><span class="pull-right">Date Range</span> </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control date-range">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                @Html.Hidden("OrderStartDate", orderStartDate.ToString("yyyy/MM/dd"), new { id = "OrderStartDate" })
                                @Html.Hidden("OrderEndDate", orderEndDate.ToString("yyyy/MM/dd"), new { id = "OrderEndDate" })
                            </div>
                        </td>
                        </tr>
                    <tr>
                        <td class="col-sm-2"><span class="pull-right">Meal Type</span> </td>
                        <td class="col-sm-2">@Html.DropDownList("MealTypeId", (List<SelectListItem>)ViewBag.MealTypes, new { id = "MealTypeId", @class = "form-control" })</td>
                        <td class="col-sm-2">
                            <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('MilkExport', 'Reports', { url: { OrderStartDate: $('#OrderStartDate').val(), MealTypeId: $('#MealTypeId').val() }, label: 'Monthly Export' });">
                                <i class="fa fa-file-excel-o"></i> Generate Milk Report
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><span class="pull-right">Month</span></td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <select class="form-control" name="OrderMonth" id="OrderMonth" style="width:130px" title="Order Month">
                                    @foreach (var month in (List<KeyValuePair<long, string>>)ViewBag.Month)
                                    {
                                        <option value="@month.Key"
                                                @if (reqMonth == month.Key) { @: selected="selected"
                                                                                                                                                                                                                                        }>
                                            @month.Value
                                        </option>
                                    }
                                </select>

                                <select class="form-control" name="OrderYear" id="OrderYear" style="width:130px" title="Order Year">
                                    @foreach (var year in (int[])ViewBag.Year)
                                    {
                                        <option value="@year"
                                                @if (reqYear == year) { @: selected="selected"
                                                                                                                                                                                                                                            }>
                                            @year
                                        </option>
                                    }
                                </select>
                            </div>
                        </td>

                        <td class="col-sm-2">
                            <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('FruitVegExport', 'Reports', { url: { OrderMonth: $('#OrderMonth').val(), OrderYear: $('#OrderYear').val() }, label: 'Fruit Vegetable Monthly Export' });">
                                <i class="fa fa-file-excel-o"></i> Generate Fruit/Veg Report
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><span class="pull-right">Generate Daily Lunch,Snack,Supper</span></td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <input type="text" id="OrderLunchDate" style="height:34px; width:100%" />
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                            </div>
                        </td>
                    <td class="col-sm-4">
                        <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('DailyLunchExport', 'Reports', { url: { OrderLunchDate: $('#OrderLunchDate').val() }, label: 'Daily Lunch Snack Supper Report' });">
                            <i class="fa fa-file-excel-o"></i> Report
                        </a>
                    </td>

                        </tr>
                        <tr>
                        <td class="col-sm-2"><span class="pull-right">Generate Daily Breakfast</span></td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <input type="text" id="OrderBreakfastDate" style="height:34px;width:100%"/>
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                            </div>
                        </td>

                        <td class="col-sm-4">
                            <a class="btn btn-md btn-danger" href="javascript:void()" onclick="tar.openNewForm('DailyBreakfastExport', 'Reports', { url: { OrderBreakfastDate: $('#OrderBreakfastDate').val() }, label: 'Daily Breakfast Report' });">
                                <i class="fa fa-file-excel-o"></i> Report
                            </a>
                        </td>
                    </tr>
                </table>*@
        </div>

    </div>
</div>
@section documentReady {
    $('#OrderBreakfastDate').datepicker({
    BreakfastDate: moment('@OrderBreakfastDate','MM/D/YYYY'),
    format: 'yyyy/mm/dd',autoclose: true
    });
    $('#OrderBreakfastDate').val(moment('@OrderBreakfastDate','MM/D/YYYY').format('YYYY/MM/DD'));

    $('#OrderLunchDate').datepicker({
    lunchDate: moment('@OrderLunchDate','MM/D/YYYY'),
    format: 'yyyy/mm/dd',autoclose: true
    });
    $('#OrderLunchDate').val(moment('@OrderLunchDate','MM/D/YYYY').format('YYYY/MM/DD'));

    $('#OrderSupperDate').datepicker({
    supperDate: moment('@OrderSupperDate','MM/D/YYYY'),
    format: 'yyyy/mm/dd',autoclose: true
    });
    $('#OrderSupperDate').val(moment('@OrderSupperDate','MM/D/YYYY').format('YYYY/MM/DD'));

    $('#OrderPurchacseDate').datepicker({
    purchacseDate: moment('@OrderPurchacseDate','MM/D/YYYY'),
    format: 'yyyy/mm/dd',autoclose: true
    });
    $('#OrderPurchacseDate').val(moment('@OrderPurchacseDate','MM/D/YYYY').format('YYYY/MM/DD'));

    $('.date-range').daterangepicker({
    startDate: moment('@orderStartDate','MM/D/YYYY'),
    endDate: moment('@orderEndDate','MM/D/YYYY'),
    minDate: '2012/01/01',
    maxDate: '2020/31/01',
    dateLimit: { days: 30 },
    showDropdowns: true,
    showWeekNumbers: false,
    timePicker: false,
    timePickerIncrement: 1,
    timePicker12Hour: true,
    ranges: {
    //'Today': [moment(), moment()],
    //'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
    'Last 7 Days': [moment().subtract('days', 6), moment()],
    'Last 14 Days': [moment().subtract('days', 13), moment()],
    'This Month': [moment().startOf('month'), moment().endOf('month')],
    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
    },
    opens: 'left',
    buttonClasses: ['btn btn-default'],
    applyClass: 'btn-small btn-primary',
    cancelClass: 'btn-small',
    format: 'YYYY/MM/DD',
    separator: ' - ',
    locale: {
    applyLabel: 'Apply',
    fromLabel: 'From',
    toLabel: 'To',
    customRangeLabel: 'Custom Range',
    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    firstDay: 1
    }
    },
    function(start, end) {
    $('#OrderStartDate').val(start.format('YYYY/MM/DD'));
    $('#OrderEndDate').val(end.format('YYYY/MM/DD'));
    $('.date-range').val(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
    }
    );
    $('.date-range').val(moment('@orderStartDate','MM/D/YYYY').format('YYYY/MM/DD') + ' - ' + moment('@orderEndDate','MM/D/YYYY').format('YYYY/MM/DD'));
}
